<h1><%= @core.name %></h1>

<div>
  <% @days.map do |day| %>
    <%= link_to day.strftime("%-m/%-d"), {day: day.strftime("%Y-%-m-%-d")} %>
  <% end %>
</div>

<%= line_chart [
  {
    name: "Mean",
    data: @means.inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  },
  {
    name: "Variance",
    data: @variances.inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  } ]
%>

<hr>

<%= line_chart [
  {
    name: "Mean",
    data: @means.inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  } ]
%>

<%= line_chart [
  {
    name: "Variance",
    data: @variances.inject({}) do |hash, measurement|
      hash.merge(measurement.created_at => measurement.value)
    end
  } ]
%>
